@charset "UTF-8";
/* line 5, C:/Ruby26-x64/lib/ruby/gems/2.6.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, C:/Ruby26-x64/lib/ruby/gems/2.6.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, C:/Ruby26-x64/lib/ruby/gems/2.6.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, C:/Ruby26-x64/lib/ruby/gems/2.6.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, C:/Ruby26-x64/lib/ruby/gems/2.6.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, C:/Ruby26-x64/lib/ruby/gems/2.6.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, C:/Ruby26-x64/lib/ruby/gems/2.6.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, C:/Ruby26-x64/lib/ruby/gems/2.6.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, C:/Ruby26-x64/lib/ruby/gems/2.6.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

/* line 3, ../sass/style.scss */
* {
  font-family: 'Montserrat', sans-serif !important;
  box-sizing: border-box !important;
}

/* line 13, ../sass/style.scss */
.mw320 {
  max-width: 480px !important;
}

@media screen and (max-width: 768px) {
  /* line 18, ../sass/style.scss */
  .hidden-on-sm {
    display: none;
  }
}
/* line 22, ../sass/style.scss */
.box-shadow-underlined {
  box-shadow: inset 0 1.2em #fff, inset 0 1.8em #ededed;
}

/* line 26, ../sass/style.scss */
.br-none {
  border-radius: 0px !important;
}

/* line 30, ../sass/style.scss */
.b-none {
  border: none !important;
  box-shadow: inset 0 0 0 1px #212529;
}

/* line 35, ../sass/style.scss */
.mw768 {
  max-width: 768px !important;
}

/* line 39, ../sass/style.scss */
.mw992 {
  max-width: 992px !important;
}

/* line 43, ../sass/style.scss */
.mw1280 {
  max-width: 1280px !important;
}

/* line 47, ../sass/style.scss */
.mh25vh {
  min-height: 25vh !important;
}

/* line 51, ../sass/style.scss */
.mh50vh {
  min-height: 50vh !important;
}

/* line 55, ../sass/style.scss */
.h25vh {
  height: 25vh !important;
}

/* line 61, ../sass/style.scss */
.btn:focus, .btn:active {
  box-shadow: none !important;
}

/* line 67, ../sass/style.scss */
.lh-2 {
  line-height: 1.5;
}

/* line 71, ../sass/style.scss */
.text-slicer {
  max-width: 12em;
  margin-top: 2em;
  padding-bottom: 2em;
}

/* line 77, ../sass/style.scss */
header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  min-height: 63px;
  background: #fff !important;
  padding: 0.25em;
  z-index: 99999;
}
/* line 89, ../sass/style.scss */
header .justify-content-center .col-12 ul {
  display: flex;
  justify-content: space-around;
  max-width: 768px !important;
}
/* line 93, ../sass/style.scss */
header .justify-content-center .col-12 ul li {
  text-align: center;
}
/* line 95, ../sass/style.scss */
header .justify-content-center .col-12 ul li a {
  font-size: 20px;
  color: black;
  text-decoration: none;
}
/* line 99, ../sass/style.scss */
header .justify-content-center .col-12 ul li a:after {
  position: relative;
  top: 5px;
  content: "";
  display: block;
  margin-right: auto;
  margin-left: auto;
  height: 2px;
  width: 0%;
  background: #000;
  transition: width .3s linear;
}
/* line 111, ../sass/style.scss */
header .justify-content-center .col-12 ul li a:hover:after {
  width: 100%;
}
/* line 121, ../sass/style.scss */
header .main-sec {
  position: relative;
  min-height: 10vh;
}
/* line 125, ../sass/style.scss */
header .main-sec .centred-top {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
/* line 131, ../sass/style.scss */
header .main-sec .centred-top .logo-img {
  max-width: 100px;
}
/* line 135, ../sass/style.scss */
header .main-sec .centred-top .vasyl-img {
  max-width: 140px;
}

/* line 143, ../sass/style.scss */
#menuShower {
  display: none;
  position: absolute;
  left: 1em;
  font-size: 25px;
}
@media screen and (max-width: 768px) {
  /* line 143, ../sass/style.scss */
  #menuShower {
    display: block;
    left: unset;
    right: 1em;
  }
}

/* line 157, ../sass/style.scss */
#menu {
  transition: .3 linear !important;
  transition: width .3 linear !important;
}

/* line 162, ../sass/style.scss */
.menuOnClick {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  display: none;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 99999;
}
/* line 172, ../sass/style.scss */
.menuOnClick .main-content {
  text-align: center;
  position: absolute;
  background-color: #fff;
  height: 100%;
  width: 100%;
  display: none;
  padding-top: 2em;
  box-shadow: 0 0 10px black;
  transition: .3 linear !important;
  transition: width .3 linear !important;
}
@media screen and (max-width: 768px) {
  /* line 172, ../sass/style.scss */
  .menuOnClick .main-content {
    max-width: 100% !important;
  }
}
/* line 188, ../sass/style.scss */
.menuOnClick .main-content .closeBtn {
  position: absolute;
  right: 0;
  top: 0;
  font-size: 30px;
}
/* line 195, ../sass/style.scss */
.menuOnClick .main-content .menu-title {
  font-size: 25px;
  font-weight: bold;
  margin-bottom: 1em;
}
/* line 201, ../sass/style.scss */
.menuOnClick .main-content .menu-img {
  margin-top: 2em;
  width: 100px;
}
/* line 206, ../sass/style.scss */
.menuOnClick .main-content .menu-links {
  margin-top: 2em;
}
/* line 210, ../sass/style.scss */
.menuOnClick .main-content .menu-links ul li {
  margin-top: 2em;
}
/* line 213, ../sass/style.scss */
.menuOnClick .main-content .menu-links ul li a {
  text-decoration: none;
  font-size: 18px;
  font-weight: bold;
  color: black;
}
/* line 219, ../sass/style.scss */
.menuOnClick .main-content .menu-links ul li a:after {
  content: "";
  display: block;
  margin-right: auto;
  margin-left: auto;
  height: 2px;
  background-color: #000;
  margin-top: 5px;
  width: 0px;
  transition: width .3s linear;
}
/* line 231, ../sass/style.scss */
.menuOnClick .main-content .menu-links ul li a:hover:after {
  width: 80px;
}

/* line 242, ../sass/style.scss */
.sec1 {
  padding: 0;
  margin-top: 25vh;
}
/* line 246, ../sass/style.scss */
.sec1 #slides {
  position: relative;
  margin-top: 100px;
  position: relative;
  width: 80%;
  min-height: 450px;
  transition: width .3s linear;
}
@media screen and (max-width: 768px) {
  /* line 246, ../sass/style.scss */
  .sec1 #slides {
    width: 100%;
  }
}
/* line 258, ../sass/style.scss */
.sec1 #slides .slide {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 1;
  opacity: 0;
  transition: opacity .3s linear;
}
/* line 267, ../sass/style.scss */
.sec1 #slides .showing {
  opacity: 1;
  z-index: 10;
}
/* line 272, ../sass/style.scss */
.sec1 #slides .slide:nth-of-type(1) {
  background: url("../images/slide-1.png") no-repeat;
  background-size: contain;
  background-position: center center;
}
/* line 278, ../sass/style.scss */
.sec1 #slides .slide:nth-of-type(2) {
  background: url("../images/slide-2.png") no-repeat;
  background-size: contain;
  background-position: center center;
}
/* line 285, ../sass/style.scss */
.sec1 #slides .slide:nth-of-type(3) {
  background: url("../images/slide-1-1.png") no-repeat;
  background-size: contain;
  background-position: center center;
}

/* line 295, ../sass/style.scss */
.sec2 .modal {
  z-index: 99999;
}
/* line 300, ../sass/style.scss */
.sec2 .row .image-container {
  background: url("../images/vasya.png") no-repeat;
  background-position: center center;
  background-size: contain;
}
/* line 306, ../sass/style.scss */
.sec2 .row .button-holder {
  background-color: #fff;
  position: relative;
  box-shadow: inset 0 0 1px black;
}
/* line 311, ../sass/style.scss */
.sec2 .row .button-holder a {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

/* line 321, ../sass/style.scss */
.to-top {
  position: fixed !important;
  /* фиксированная позиция */
  right: 80px;
  /* расстояние от правого края */
  bottom: 60px;
  /* расстояние от нижнего края */
  text-align: center;
  /*выравнивание содержимого элемента по центру */
  animation-fill-mode: both;
}
/* line 332, ../sass/style.scss */
.to-top .btn {
  font-size: 30px;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: #fff;
  border: 1px solid lightgray;
  box-shadow: 0px 4px 5px gray;
  padding: 0;
  color: #999999;
  /* цвет текста */
}
/* line 348, ../sass/style.scss */
.to-top .btn:hover {
  box-shadow: 0px 2px 5px gray;
  color: #7e7e7e;
}
@media screen and (max-width: 576px) {
  /* line 321, ../sass/style.scss */
  .to-top {
    right: 30px;
    /* расстояние от правого края */
    bottom: 20px;
  }
  /* line 358, ../sass/style.scss */
  .to-top .btn {
    font-size: 24px;
    width: 40px;
    height: 40px;
  }
}
