@charset "UTF-8";
/* line 5, C:/Ruby26-x64/lib/ruby/gems/2.6.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, C:/Ruby26-x64/lib/ruby/gems/2.6.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, C:/Ruby26-x64/lib/ruby/gems/2.6.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, C:/Ruby26-x64/lib/ruby/gems/2.6.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, C:/Ruby26-x64/lib/ruby/gems/2.6.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, C:/Ruby26-x64/lib/ruby/gems/2.6.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, C:/Ruby26-x64/lib/ruby/gems/2.6.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, C:/Ruby26-x64/lib/ruby/gems/2.6.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, C:/Ruby26-x64/lib/ruby/gems/2.6.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

/* line 3, ../sass/style.scss */
* {
  font-family: 'Montserrat', sans-serif !important;
}

/* line 12, ../sass/style.scss */
.mw320 {
  max-width: 480px !important;
}

/* line 16, ../sass/style.scss */
.btn:focus, .btn:active {
  box-shadow: none !important;
}

/* line 20, ../sass/style.scss */
header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background: #fff !important;
  padding: 0.5em;
  z-index: 99999;
}

/* line 30, ../sass/style.scss */
#menu {
  transition: .3 linear !important;
  transition: width .3 linear !important;
}

/* line 34, ../sass/style.scss */
.menuOnClick {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 99999;
  box-shadow: 0 0 100% black;
}
/* line 45, ../sass/style.scss */
.menuOnClick .main-content {
  text-align: center;
  position: absolute;
  background-color: #fff;
  height: 100%;
  width: 100%;
  padding-top: 2em;
  transition: .3 linear !important;
  transition: width .3 linear !important;
}
/* line 54, ../sass/style.scss */
.menuOnClick .main-content .closeBtn {
  position: absolute;
  right: 0;
  top: 0;
  font-size: 30px;
}
/* line 60, ../sass/style.scss */
.menuOnClick .main-content .menu-title {
  font-size: 25px;
  font-weight: bold;
  margin-bottom: 1em;
}
/* line 65, ../sass/style.scss */
.menuOnClick .main-content .menu-img {
  margin-top: 2em;
  width: 100px;
}
/* line 69, ../sass/style.scss */
.menuOnClick .main-content .menu-links {
  margin-top: 2em;
}
/* line 72, ../sass/style.scss */
.menuOnClick .main-content .menu-links ul li {
  margin-top: 2em;
}
/* line 74, ../sass/style.scss */
.menuOnClick .main-content .menu-links ul li a {
  text-decoration: none;
  font-size: 18px;
  font-weight: bold;
  color: black;
}
/* line 89, ../sass/style.scss */
.menuOnClick .main-content .menu-links ul li a:after {
  content: "";
  display: block;
  margin-right: auto;
  margin-left: auto;
  height: 2px;
  background-color: #000;
  margin-top: 5px;
  width: 0px;
  transition: width .3s linear;
}
/* line 100, ../sass/style.scss */
.menuOnClick .main-content .menu-links ul li a:hover:after {
  width: 80px;
}

/* line 112, ../sass/style.scss */
.sec1 {
  padding: 0;
}
/* line 114, ../sass/style.scss */
.sec1 #slides {
  background-color: #000;
  position: relative;
  width: 80%;
  height: 45vh;
  transition: width .3s linear;
}
@media screen and (max-width: 576px) {
  /* line 114, ../sass/style.scss */
  .sec1 #slides {
    width: 100%;
  }
}
/* line 124, ../sass/style.scss */
.sec1 #slides .slide {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 1;
  opacity: 0;
  transition: opacity .3s linear;
}
/* line 133, ../sass/style.scss */
.sec1 #slides .showing {
  opacity: 1;
  z-index: 10;
}
/* line 138, ../sass/style.scss */
.sec1 #slides .slide:nth-of-type(1) {
  background: url("../images/slide1.jpg") no-repeat;
  background-size: cover;
  background-position: center center;
}
/* line 144, ../sass/style.scss */
.sec1 #slides .slide:nth-of-type(2) {
  background: url("../images/slide2.jpg") no-repeat;
  background-size: cover;
  background-position: center center;
}
/* line 151, ../sass/style.scss */
.sec1 #slides .slide:nth-of-type(3) {
  background: url("../images/slide3.jpg") no-repeat;
  background-size: cover;
  background-position: center center;
}

/* line 74, ../sass/style.scss */
.to-top {
  position: fixed !important;
  /* фиксированная позиция */
  right: 80px;
  /* расстояние от правого края */
  bottom: 60px;
  /* расстояние от нижнего края */
  text-align: center;
  /*выравнивание содержимого элемента по центру */
}
/* line 81, ../sass/style.scss */
.to-top .btn {
  font-size: 30px;
  color: black;
  /* цвет текста */
  border-top-left-radius: 6px;
  /* скругление верхнего левого угла */
  border-top-right-radius: 6px;
  /* скругление верхнего правого угла */
}
/* line 87, ../sass/style.scss */
.to-top .btn:hover {
  background-color: #5c5c5c;
  /* цвет заднего фона при наведении */
}
