$darkgray: rgb(37, 37, 37);
$whitish: #e2e2e2;
$red: rgb(212, 16, 16);
$wht: #ffffff;

#landShow {
    background-color: #fff;
    border-color: rgb(161, 161, 161);
    position: fixed;
    bottom: 3em;
    left: 1em;
    font-size: 25px;
    border-radius: 3px;
    z-index: 11;
    transition: .3s linear;
    &:hover, &:focus {
        background: darken($whitish, 10%);
    }
    @media screen and (max-width:450px){
        font-size: 20px;
        bottom: 2em;
        left: 1em;
    }
}
#langShowerMenu {
    background-color: #fff;
    position: fixed;
    bottom: 7.25em;
    font-size: 17px;
    box-shadow: 0 0 0 2px $whitish;
    left: 1.8em;
    z-index: 10;
    height: 105px;
    overflow: hidden;
    animation: plusHeight .3s 1 linear both;
    transition: .3s linear;
    a {
        color: black;
        width: 100%;
        padding: 0.5em;
        transition:background .3s linear;
        &:hover {
            background: rgb(233, 232, 232);
        }
    }
    &.hiddddden {
        animation: minusHeight .3s 1 linear both;
    }
    @media screen and (max-width:450px){
        bottom: 4.75em;
        left: 1.33em;
    }
}
@keyframes minusHeight {
    0% {height: 72px;}
    100% {height: 0;}
}
@keyframes plusHeight {
    0% {height: 0px;}
    100% {height: 72px;}
}