@import "compass/reset";

* {
    font-family: 'Montserrat', sans-serif !important;
}

$bgSize : cover;
$bgRepeat: no-repeat;
$bgPos: center center;
$gray : #212529;

.mw320 {
    max-width: 480px !important;
}
.btn {
    &:focus, &:active {
        box-shadow: none !important;
    }
}
header {
    position: fixed;
    top: 0;
    left:0;
    width: 100%;
    background: #fff !important;
    // box-shadow: 0 0 4px gray;
    padding: 0.25em;
    z-index: 99999;
}
#menuShower {
    margin-left: .5em;
    font-size: 25px;
}
#menu {
    transition: .3 linear !important;
    transition: width .3 linear !important;
}
.menuOnClick {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(#000000,.5);
    z-index: 99999;
    box-shadow: 0 0 100% black;
    
    
    .main-content {
        text-align: center;
        position: absolute;
        background-color:#fff;
        height: 100%;
        width: 100%;
        padding-top: 2em;
        transition: .3 linear !important;
        transition: width .3 linear !important;
        .closeBtn {
            position: absolute;
            right: 0;
            top: 0;
            font-size: 30px;
        }
        .menu-title {
            font-size: 25px;
            font-weight: bold;
            margin-bottom: 1em;
        }
        .menu-img {
            margin-top: 2em;
            width: 100px;
        }
        .menu-links {
            margin-top: 2em;
            ul {
                li {
                    margin-top: 2em;    
                    a {
                        text-decoration: none;
                        font-size: 18px;
                        font-weight: bold;
                        color: black;
                        
                        // &:before {
                        //     position: absolute;
                        //     content: "";
                        //     margin-top: 6px;
                        //     margin-left: -15px;
                        //     height: 6px;
                        //     width: 6px;
                        //     background-color: #000;
                        // }
                        &:after {
                            content: "";
                            display: block;
                            margin-right: auto;
                            margin-left: auto;
                            height: 2px;
                            background-color: #000;
                            margin-top: 5px;
                            width: 0px;
                            transition: width .3s linear;
                        }
                        &:hover:after {
                            width: 80px;
                        }
                    }
                }
            }
        }
    }
    
}


.sec1 {
    padding: 0;
    #slides {
        margin-top: 100px;
        background-color: #000;
        position: relative;
        width: 80%;
        height: 50vh;
        transition: width .3s linear;
        @media screen and (max-width:576px) {
            width: 100%;
        }

        .slide {
            position: absolute;
            width: 100%;
            height: 100%;
            z-index: 1;
            opacity: 0;
            transition: opacity .3s linear;
        }

        .showing {
            opacity: 1;
            z-index: 10;
        }

        .slide:nth-of-type(1) {
            background: url("../images/slide1.jpg") $bgRepeat;
            background-size: $bgSize;
            background-position: $bgPos;
        }

        .slide:nth-of-type(2) {

            background: url("../images/slide2.jpg") $bgRepeat;
            background-size: $bgSize;
            background-position: $bgPos;
        }

        .slide:nth-of-type(3) {

            background: url("../images/slide3.jpg") $bgRepeat;
            background-size: $bgSize;
            background-position: $bgPos;
        }
    }
}

.to-top {
    position: fixed!important; /* фиксированная позиция */
    right: 80px; /* расстояние от правого края */
    bottom: 60px; /* расстояние от нижнего края */
    text-align: center; /*выравнивание содержимого элемента по центру */
    
    
    .btn {
        font-size: 30px;
        color: rgb(0, 0, 0); /* цвет текста */
        
    }.btn:hover {
        background-color: rgb(92, 92, 92); /* цвет заднего фона при наведении */
      }

}

