@import "compass/reset";

* {
    font-family: 'Montserrat', sans-serif !important;
    box-sizing: border-box !important;
}
$yellow: #ffc107;
$bgSize : contain;
$imagesBgSize: cover;
$bgRepeat: no-repeat;
$bgPos: center center;
$gray : #212529;

.mw320 {
    max-width: 480px !important;
}

@media screen and (max-width:768px) {
    .hidden-on-sm {
        display: none;
    }
}
.box-shadow-underlined {
    box-shadow: inset 0 1.2em #fff, inset 0 1.8em lighten(lightgray, 10%);
}

.br-none {
    border-radius: 0px !important;
}

.b-none {
    border: none !important;
    box-shadow: inset 0 0 0 1px $gray;
}

.mw768 {
    max-width: 768px !important;
}

.mw992 {
    max-width: 992px !important;
}

.mw1280 {
    max-width: 1280px !important;
}

.mh25vh {
    min-height: 25vh !important;
}

.mh50vh {
    min-height: 50vh !important;
}

.h25vh {
    height: 25vh !important;
}

.btn {

    &:focus,
    &:active {
        box-shadow: none !important;
    }
}

.lh-2 {
    line-height: 1.5;
}

.text-slicer {
    max-width: 12em;
    margin-top: 2em;
    padding-bottom: 2em;
}

header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    min-height: 63px;
    background: #fff !important;
    padding: 0.25em;
    z-index: 99999;

    .justify-content-center {
        .col-12 {
            ul {
                display: flex;
                justify-content: space-around;
                max-width: 768px !important;
                li {
                    text-align: center;
                    a {
                        font-size: 20px;
                        color: black;
                        text-decoration: none;
                        &:after {
                            position: relative;
                            top:5px;
                            content: "";
                            display: block;
                            margin-right: auto;
                            margin-left: auto;
                            height: 2px;
                            width: 0%;
                            background: #000;
                            transition: width .3s linear;
                        }
                        &:hover:after{
                            width: 100%;
                        }
                    }
                }
            }

        }
    }

    .main-sec {
        position: relative;
        min-height: 10vh;

        .centred-top {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);

            .logo-img {
                max-width: 100px;
            }

            .vasyl-img {
                max-width: 140px;
            }
        }

    }
}

#menuShower {
    display: none;
    position: absolute;
    left: 1em;
    font-size: 25px;

    @media screen and (max-width:768px) {
        display: block;
        left: unset;
        right: 1em;
    }

}

#menu {
    transition: .3 linear !important;
    transition: width .3 linear !important;
}

.menuOnClick {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    display: none;
    background-color: rgba(#000000, .5);
    z-index: 99999;


    .main-content {
        text-align: center;
        position: absolute;
        background-color: #fff;
        height: 100%;
        width: 100%;
        display: none;
        padding-top: 2em;
        box-shadow: 0 0 10px black;
        transition: .3 linear !important;
        transition: width .3 linear !important;

        @media screen and (max-width:768px) {
            max-width: 100% !important;
        }

        .closeBtn {
            position: absolute;
            right: 0;
            top: 0;
            font-size: 30px;
        }

        .menu-title {
            font-size: 25px;
            font-weight: bold;
            margin-bottom: 1em;
        }

        .menu-img {
            margin-top: 2em;
            width: 100px;
        }

        .menu-links {
            margin-top: 2em;

            ul {
                li {
                    margin-top: 2em;

                    a {
                        text-decoration: none;
                        font-size: 18px;
                        font-weight: bold;
                        color: black;

                        &:after {
                            content: "";
                            display: block;
                            margin-right: auto;
                            margin-left: auto;
                            height: 2px;
                            background-color: #000;
                            margin-top: 5px;
                            width: 0px;
                            transition: width .3s linear;
                        }

                        &:hover:after {
                            width: 80px;
                        }
                    }
                }
            }
        }
    }

}

.sec1 {
    padding: 0;
    margin-top: 25vh;
    @media screen and (max-width:768px){
        margin-top: 0px !important;
    }

    #slides {
        position: relative;
        margin-top: 100px;
        position: relative;
        width: 80%;
        min-height: 450px;
        transition: width .3s linear;

        @media screen and (max-width:768px) {
            width: 100%;
        }

        .slide {
            position: absolute;
            width: 100%;
            height: 100%;
            z-index: 1;
            opacity: 0;
            transition: opacity .3s linear;
        }

        .showing {
            opacity: 1;
            z-index: 10;
        }

        .slide:nth-of-type(1) {
            background: url("../images/slide-1.png") $bgRepeat;
            background-size: $bgSize;
            background-position: $bgPos;
            @media screen and (max-width:768px) {
                background-size: $imagesBgSize;
            }
        }

        .slide:nth-of-type(2) {

            background: url("../images/slide-2.png") $bgRepeat;
            background-size: $bgSize;
            background-position: $bgPos;
            @media screen and (max-width:768px) {
                background-size: $imagesBgSize;
            }
        }

        .slide:nth-of-type(3) {

            background: url("../images/slide-1-1.png") $bgRepeat;
            background-size: $bgSize;
            background-position: $bgPos;
            @media screen and (max-width:768px) {
                background-size: $imagesBgSize;
            }
        }
    }
}

.sec2 {
    .modal {
        z-index: 99999;
    }

    .row {
        .image-container {
            background: url("../images/vasya.png") $bgRepeat;
            background-position: $bgPos;
            background-size: $imagesBgSize;
        }

        .button-holder {
            background-color: #fff;
            position: relative;
            box-shadow: inset 0 0 1px black;

            a {
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
            }
        }
    }
}

.to-top {
    position: fixed !important;
    /* фиксированная позиция */
    right: 80px;
    /* расстояние от правого края */
    bottom: 60px;
    /* расстояние от нижнего края */
    text-align: center;
    /*выравнивание содержимого элемента по центру */
    animation-fill-mode: both;

    .btn {
        font-size: 30px;
        width: 50px;
        height: 50px;
        border-radius: 50%;
        background-color: #fff;
        border: 1px solid lightgray;
        box-shadow: 0px 4px 5px gray;
        padding: 0;
        color: rgb(153, 153, 153);
        /* цвет текста */



    }

    .btn:hover {
        box-shadow: 0px 2px 5px gray;
        color: rgb(126, 126, 126);
    }

    @media screen and (max-width:576px) {
        right: 30px;
        /* расстояние от правого края */
        bottom: 20px;

        .btn {
            font-size: 24px;
            width: 40px;
            height: 40px;
        }

    }

}