/* line 5, C:/Ruby26-x64/lib/ruby/gems/2.6.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, C:/Ruby26-x64/lib/ruby/gems/2.6.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, C:/Ruby26-x64/lib/ruby/gems/2.6.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, C:/Ruby26-x64/lib/ruby/gems/2.6.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, C:/Ruby26-x64/lib/ruby/gems/2.6.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, C:/Ruby26-x64/lib/ruby/gems/2.6.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, C:/Ruby26-x64/lib/ruby/gems/2.6.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, C:/Ruby26-x64/lib/ruby/gems/2.6.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, C:/Ruby26-x64/lib/ruby/gems/2.6.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

/* line 5, ../sass/style.scss */
* {
  font-family: 'Montserrat', sans-serif !important;
  box-sizing: border-box;
}

/* line 17, ../sass/style.scss */
.grayscale100 {
  filter: grayscale(100%);
}

/* line 21, ../sass/style.scss */
.mw320 {
  max-width: 480px;
}

/* line 24, ../sass/style.scss */
strong {
  font-weight: bold;
}

/* line 27, ../sass/style.scss */
a {
  color: black;
}

/* line 30, ../sass/style.scss */
a[data-fancybox] {
  color: black;
  z-index: 999;
}

/* line 35, ../sass/style.scss */
.box-shadow-underlined {
  box-shadow: inset 0 1em #fff, inset 0 1.6em #ededed;
}

/* line 39, ../sass/style.scss */
.br-none {
  border-radius: 0px;
}

/* line 43, ../sass/style.scss */
.b-none {
  border: none;
  box-shadow: inset 0 0 0 1px #212529;
}

/* line 48, ../sass/style.scss */
.mw768 {
  max-width: 768px;
}

/* line 52, ../sass/style.scss */
.mw992 {
  max-width: 992px;
}

/* line 56, ../sass/style.scss */
.mw1280 {
  max-width: 1280px;
}

/* line 60, ../sass/style.scss */
.mh25vh {
  min-height: 25vh;
}

/* line 64, ../sass/style.scss */
.mh30vh {
  min-height: 30vh;
}

/* line 68, ../sass/style.scss */
.mh50vh {
  min-height: 50vh;
}

/* line 72, ../sass/style.scss */
.h25vh {
  height: 25vh;
}

/* line 79, ../sass/style.scss */
.sec1 .row {
  transition: .3s linear;
}
/* line 81, ../sass/style.scss */
.sec1 .row .col-10 {
  position: relative;
  padding: 0;
  overflow: hidden;
  transition: .3s linear;
}
/* line 87, ../sass/style.scss */
.sec1 .row .col-10:hover, .sec1 .row .col-10:focus {
  box-shadow: 0 0 20px 0 black;
  filter: grayscale(0%);
  z-index: 9;
  transform: scale(1.025);
  -ms-transform: scale(1.025);
  -o-transform: scale(1.025);
  -moz-transform: scale(1.025);
  -webkit-transform: scale(1.025);
}
/* line 97, ../sass/style.scss */
.sec1 .row .col-10 .first {
  background: url("../images/durer/1.jpg") no-repeat;
}
/* line 101, ../sass/style.scss */
.sec1 .row .col-10 .second {
  background: url("../images/durer/2.jpg") no-repeat;
}
/* line 105, ../sass/style.scss */
.sec1 .row .col-10 .third {
  background: url("../images/durer/3.jpg") no-repeat;
}
/* line 109, ../sass/style.scss */
.sec1 .row .col-10 .fourth {
  background: url("../images/durer/4.jpg") no-repeat;
}
/* line 113, ../sass/style.scss */
.sec1 .row .col-10 .fifth {
  background: url("../images/durer/1.jpg") no-repeat;
}
/* line 117, ../sass/style.scss */
.sec1 .row .col-10 .sixth {
  background: url("../images/durer/2.jpg") no-repeat;
}
/* line 121, ../sass/style.scss */
.sec1 .row .col-10 .img-placeholder, .sec1 .row .col-10 .first, .sec1 .row .col-10 .second, .sec1 .row .col-10 .third, .sec1 .row .col-10 .fourth, .sec1 .row .col-10 .fifth, .sec1 .row .col-10 .sixth {
  height: 100%;
  background-size: 180%;
  background-position: center center;
  transition: .3s linear;
  transition: background-size .7s linear;
  box-shadow: inset 0 0 0 2px white;
}
/* line 129, ../sass/style.scss */
.sec1 .row .col-10 .img-placeholder:hover, .sec1 .row .col-10 .first:hover, .sec1 .row .col-10 .second:hover, .sec1 .row .col-10 .third:hover, .sec1 .row .col-10 .fourth:hover, .sec1 .row .col-10 .fifth:hover, .sec1 .row .col-10 .sixth:hover, .sec1 .row .col-10 .img-placeholder:focus, .sec1 .row .col-10 .first:focus, .sec1 .row .col-10 .second:focus, .sec1 .row .col-10 .third:focus, .sec1 .row .col-10 .fourth:focus, .sec1 .row .col-10 .fifth:focus, .sec1 .row .col-10 .sixth:focus {
  background-size: 200%;
  transition: background-size 10s linear;
  box-shadow: 0 0 20px 0 black;
  z-index: 9;
}
/* line 135, ../sass/style.scss */
.sec1 .row .col-10 .img-placeholder:hover .img-heading-caption, .sec1 .row .col-10 .first:hover .img-heading-caption, .sec1 .row .col-10 .second:hover .img-heading-caption, .sec1 .row .col-10 .third:hover .img-heading-caption, .sec1 .row .col-10 .fourth:hover .img-heading-caption, .sec1 .row .col-10 .fifth:hover .img-heading-caption, .sec1 .row .col-10 .sixth:hover .img-heading-caption, .sec1 .row .col-10 .img-placeholder:focus .img-heading-caption, .sec1 .row .col-10 .first:focus .img-heading-caption, .sec1 .row .col-10 .second:focus .img-heading-caption, .sec1 .row .col-10 .third:focus .img-heading-caption, .sec1 .row .col-10 .fourth:focus .img-heading-caption, .sec1 .row .col-10 .fifth:focus .img-heading-caption, .sec1 .row .col-10 .sixth:focus .img-heading-caption {
  background-color: rgba(0, 0, 0, 0.2);
}
/* line 139, ../sass/style.scss */
.sec1 .row .col-10 .img-placeholder:hover .img-caption, .sec1 .row .col-10 .first:hover .img-caption, .sec1 .row .col-10 .second:hover .img-caption, .sec1 .row .col-10 .third:hover .img-caption, .sec1 .row .col-10 .fourth:hover .img-caption, .sec1 .row .col-10 .fifth:hover .img-caption, .sec1 .row .col-10 .sixth:hover .img-caption, .sec1 .row .col-10 .img-placeholder:focus .img-caption, .sec1 .row .col-10 .first:focus .img-caption, .sec1 .row .col-10 .second:focus .img-caption, .sec1 .row .col-10 .third:focus .img-caption, .sec1 .row .col-10 .fourth:focus .img-caption, .sec1 .row .col-10 .fifth:focus .img-caption, .sec1 .row .col-10 .sixth:focus .img-caption {
  bottom: 0%;
}
/* line 145, ../sass/style.scss */
.sec1 .row .col-10 .img-placeholder:hover .caption, .sec1 .row .col-10 .first:hover .caption, .sec1 .row .col-10 .second:hover .caption, .sec1 .row .col-10 .third:hover .caption, .sec1 .row .col-10 .fourth:hover .caption, .sec1 .row .col-10 .fifth:hover .caption, .sec1 .row .col-10 .sixth:hover .caption, .sec1 .row .col-10 .img-placeholder:focus .caption, .sec1 .row .col-10 .first:focus .caption, .sec1 .row .col-10 .second:focus .caption, .sec1 .row .col-10 .third:focus .caption, .sec1 .row .col-10 .fourth:focus .caption, .sec1 .row .col-10 .fifth:focus .caption, .sec1 .row .col-10 .sixth:focus .caption {
  left: 35px;
}
@media screen and (max-width: 576px) {
  /* line 121, ../sass/style.scss */
  .sec1 .row .col-10 .img-placeholder, .sec1 .row .col-10 .first, .sec1 .row .col-10 .second, .sec1 .row .col-10 .third, .sec1 .row .col-10 .fourth, .sec1 .row .col-10 .fifth, .sec1 .row .col-10 .sixth {
    background-size: cover;
  }
  /* line 153, ../sass/style.scss */
  .sec1 .row .col-10 .img-placeholder:hover, .sec1 .row .col-10 .first:hover, .sec1 .row .col-10 .second:hover, .sec1 .row .col-10 .third:hover, .sec1 .row .col-10 .fourth:hover, .sec1 .row .col-10 .fifth:hover, .sec1 .row .col-10 .sixth:hover {
    background-size: cover;
  }
}
/* line 161, ../sass/style.scss */
.sec1 .row .col-10 .img-caption {
  line-height: 1.5;
  position: absolute;
  bottom: -70%;
  background: #fff;
  padding: 15px 35px;
  transition: .3s linear;
  font-size: 14px;
}
/* line 171, ../sass/style.scss */
.sec1 .row .col-10 .img-heading-caption {
  position: relative;
  height: 100%;
  width: auto;
  background-color: transparent;
  transition: .3s linear;
}
/* line 178, ../sass/style.scss */
.sec1 .row .col-10 .img-heading-caption .caption {
  position: absolute;
  top: 40%;
  left: -100%;
  transform: translateY(-40%);
  transition: .3s linear;
}
/* line 185, ../sass/style.scss */
.sec1 .row .col-10 .img-heading-caption .caption h3 {
  font-size: 24px;
  color: white;
}
@media screen and (hover: none) and (max-width: 768px) {
  /* line 81, ../sass/style.scss */
  .sec1 .row .col-10 {
    min-height: 60vh;
    margin-top: 5vh;
    border: 1px solid lightgray;
    border-radius: 3px;
  }
  /* line 200, ../sass/style.scss */
  .sec1 .row .col-10 .img-placeholder, .sec1 .row .col-10 .first, .sec1 .row .col-10 .second, .sec1 .row .col-10 .third, .sec1 .row .col-10 .fourth, .sec1 .row .col-10 .fifth, .sec1 .row .col-10 .sixth {
    box-shadow: none;
  }
  /* line 204, ../sass/style.scss */
  .sec1 .row .col-10 .img-placeholder, .sec1 .row .col-10 .first, .sec1 .row .col-10 .second, .sec1 .row .col-10 .third, .sec1 .row .col-10 .fourth, .sec1 .row .col-10 .fifth, .sec1 .row .col-10 .sixth {
    background-size: cover;
  }
  /* line 207, ../sass/style.scss */
  .sec1 .row .col-10 .img-placeholder:hover, .sec1 .row .col-10 .first:hover, .sec1 .row .col-10 .second:hover, .sec1 .row .col-10 .third:hover, .sec1 .row .col-10 .fourth:hover, .sec1 .row .col-10 .fifth:hover, .sec1 .row .col-10 .sixth:hover, .sec1 .row .col-10 .img-placeholder:focus, .sec1 .row .col-10 .first:focus, .sec1 .row .col-10 .second:focus, .sec1 .row .col-10 .third:focus, .sec1 .row .col-10 .fourth:focus, .sec1 .row .col-10 .fifth:focus, .sec1 .row .col-10 .sixth:focus {
    background-size: cover;
  }
  /* line 212, ../sass/style.scss */
  .sec1 .row .col-10:hover, .sec1 .row .col-10:focus {
    transform: scale(1);
    -ms-transform: scale(1);
    -o-transform: scale(1);
    -moz-transform: scale(1);
    -webkit-transform: scale(1);
  }
  /* line 222, ../sass/style.scss */
  .sec1 .row .col-10 .caption {
    left: 35px !important;
  }
  /* line 226, ../sass/style.scss */
  .sec1 .row .col-10 .img-caption {
    line-height: 1.5;
    position: absolute;
    bottom: 0%;
    background: #fff;
    padding: 10px 15px;
    transition: .3s linear;
    font-size: 14px;
  }
}
@media screen and (max-width: 768px) {
  /* line 81, ../sass/style.scss */
  .sec1 .row .col-10 {
    min-height: 60vh;
    margin-top: 5vh;
    border: 1px solid lightgray;
    border-radius: 3px;
  }
  /* line 242, ../sass/style.scss */
  .sec1 .row .col-10 .img-placeholder, .sec1 .row .col-10 .first, .sec1 .row .col-10 .second, .sec1 .row .col-10 .third, .sec1 .row .col-10 .fourth, .sec1 .row .col-10 .fifth, .sec1 .row .col-10 .sixth {
    box-shadow: none;
  }
  /* line 246, ../sass/style.scss */
  .sec1 .row .col-10 .img-placeholder, .sec1 .row .col-10 .first, .sec1 .row .col-10 .second, .sec1 .row .col-10 .third, .sec1 .row .col-10 .fourth, .sec1 .row .col-10 .fifth, .sec1 .row .col-10 .sixth {
    background-size: cover;
  }
  /* line 249, ../sass/style.scss */
  .sec1 .row .col-10 .img-placeholder:hover, .sec1 .row .col-10 .first:hover, .sec1 .row .col-10 .second:hover, .sec1 .row .col-10 .third:hover, .sec1 .row .col-10 .fourth:hover, .sec1 .row .col-10 .fifth:hover, .sec1 .row .col-10 .sixth:hover, .sec1 .row .col-10 .img-placeholder:focus, .sec1 .row .col-10 .first:focus, .sec1 .row .col-10 .second:focus, .sec1 .row .col-10 .third:focus, .sec1 .row .col-10 .fourth:focus, .sec1 .row .col-10 .fifth:focus, .sec1 .row .col-10 .sixth:focus {
    background-size: cover;
  }
  /* line 254, ../sass/style.scss */
  .sec1 .row .col-10:hover {
    transform: scale(1);
    -ms-transform: scale(1);
    -o-transform: scale(1);
    -moz-transform: scale(1);
    -webkit-transform: scale(1);
  }
  /* line 264, ../sass/style.scss */
  .sec1 .row .col-10 .caption {
    left: 35px !important;
  }
  /* line 268, ../sass/style.scss */
  .sec1 .row .col-10 .img-caption {
    line-height: 1.5;
    position: absolute;
    bottom: 0%;
    background: #fff;
    padding: 10px 15px;
    transition: .3s linear;
    font-size: 14px;
  }
}
@media screen and (hover: none) and (max-width: 576px) {
  /* line 81, ../sass/style.scss */
  .sec1 .row .col-10 {
    min-height: 80vh;
  }
  /* line 282, ../sass/style.scss */
  .sec1 .row .col-10 .img-placeholder, .sec1 .row .col-10 .first, .sec1 .row .col-10 .second, .sec1 .row .col-10 .third, .sec1 .row .col-10 .fourth, .sec1 .row .col-10 .fifth, .sec1 .row .col-10 .sixth {
    background-size: cover;
  }
  /* line 285, ../sass/style.scss */
  .sec1 .row .col-10 .img-placeholder:hover, .sec1 .row .col-10 .first:hover, .sec1 .row .col-10 .second:hover, .sec1 .row .col-10 .third:hover, .sec1 .row .col-10 .fourth:hover, .sec1 .row .col-10 .fifth:hover, .sec1 .row .col-10 .sixth:hover, .sec1 .row .col-10 .img-placeholder:focus, .sec1 .row .col-10 .first:focus, .sec1 .row .col-10 .second:focus, .sec1 .row .col-10 .third:focus, .sec1 .row .col-10 .fourth:focus, .sec1 .row .col-10 .fifth:focus, .sec1 .row .col-10 .sixth:focus {
    background-size: cover;
  }
  /* line 290, ../sass/style.scss */
  .sec1 .row .col-10:hover, .sec1 .row .col-10:focus {
    transform: scale(1);
    -ms-transform: scale(1);
    -o-transform: scale(1);
    -moz-transform: scale(1);
    -webkit-transform: scale(1);
  }
  /* line 300, ../sass/style.scss */
  .sec1 .row .col-10 .caption {
    left: 35px !important;
  }
  /* line 304, ../sass/style.scss */
  .sec1 .row .col-10 .img-caption {
    line-height: 1.5;
    position: absolute;
    bottom: 0%;
    background: #fff;
    padding: 10px 15px;
    transition: .3s linear;
    font-size: 14px;
  }
}
@media screen and (max-width: 576px) {
  /* line 81, ../sass/style.scss */
  .sec1 .row .col-10 {
    min-height: 80vh;
  }
  /* line 317, ../sass/style.scss */
  .sec1 .row .col-10 .img-placeholder, .sec1 .row .col-10 .first, .sec1 .row .col-10 .second, .sec1 .row .col-10 .third, .sec1 .row .col-10 .fourth, .sec1 .row .col-10 .fifth, .sec1 .row .col-10 .sixth {
    background-size: cover;
  }
  /* line 320, ../sass/style.scss */
  .sec1 .row .col-10 .img-placeholder:hover, .sec1 .row .col-10 .first:hover, .sec1 .row .col-10 .second:hover, .sec1 .row .col-10 .third:hover, .sec1 .row .col-10 .fourth:hover, .sec1 .row .col-10 .fifth:hover, .sec1 .row .col-10 .sixth:hover, .sec1 .row .col-10 .img-placeholder:focus, .sec1 .row .col-10 .first:focus, .sec1 .row .col-10 .second:focus, .sec1 .row .col-10 .third:focus, .sec1 .row .col-10 .fourth:focus, .sec1 .row .col-10 .fifth:focus, .sec1 .row .col-10 .sixth:focus {
    background-size: cover;
  }
  /* line 325, ../sass/style.scss */
  .sec1 .row .col-10:hover, .sec1 .row .col-10:focus {
    transform: scale(1);
    -ms-transform: scale(1);
    -o-transform: scale(1);
    -moz-transform: scale(1);
    -webkit-transform: scale(1);
  }
  /* line 335, ../sass/style.scss */
  .sec1 .row .col-10 .caption {
    left: 35px !important;
  }
  /* line 339, ../sass/style.scss */
  .sec1 .row .col-10 .img-caption {
    line-height: 1.5;
    position: absolute;
    bottom: 0%;
    background: #fff;
    padding: 10px 15px;
    transition: .3s linear;
    font-size: 14px;
  }
}
