@charset "UTF-8";
/* line 5, C:/Ruby26-x64/lib/ruby/gems/2.6.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, C:/Ruby26-x64/lib/ruby/gems/2.6.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, C:/Ruby26-x64/lib/ruby/gems/2.6.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, C:/Ruby26-x64/lib/ruby/gems/2.6.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, C:/Ruby26-x64/lib/ruby/gems/2.6.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, C:/Ruby26-x64/lib/ruby/gems/2.6.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, C:/Ruby26-x64/lib/ruby/gems/2.6.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, C:/Ruby26-x64/lib/ruby/gems/2.6.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, C:/Ruby26-x64/lib/ruby/gems/2.6.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

/* line 5, ../sass/style.scss */
* {
  font-family: 'Montserrat', sans-serif !important;
  box-sizing: border-box;
}

/* line 17, ../sass/style.scss */
.grayscale100 {
  filter: grayscale(100%);
}

/* line 23, ../sass/style.scss */
.btn:focus, .btn:active {
  box-shadow: none !important;
}

/* line 28, ../sass/style.scss */
.fy_v16x9, .fy_v4x3 {
  max-width: 100% !important;
}

/* line 31, ../sass/style.scss */
.mw320 {
  max-width: 480px;
}

/* line 34, ../sass/style.scss */
strong {
  font-weight: bold;
}

/* line 37, ../sass/style.scss */
a {
  color: black;
}

/* line 40, ../sass/style.scss */
a[data-fancybox] {
  color: black;
  z-index: 999;
}

/* line 45, ../sass/style.scss */
.box-shadow-underlined {
  box-shadow: inset 0 1em #fff, inset 0 1.6em #ededed;
}

/* line 49, ../sass/style.scss */
.br-none {
  border-radius: 0px;
}

/* line 53, ../sass/style.scss */
.b-none {
  border: none;
  box-shadow: inset 0 0 0 1px #212529;
}

/* line 58, ../sass/style.scss */
.mw768 {
  max-width: 768px;
}

/* line 62, ../sass/style.scss */
.mw992 {
  max-width: 992px;
}

/* line 66, ../sass/style.scss */
.mw1280 {
  max-width: 1280px;
}

/* line 70, ../sass/style.scss */
.mh25vh {
  min-height: 25vh;
}

/* line 74, ../sass/style.scss */
.mh30vh {
  min-height: 30vh;
}

/* line 78, ../sass/style.scss */
.mh50vh {
  min-height: 50vh;
}

/* line 82, ../sass/style.scss */
.h25vh {
  height: 25vh;
}

/* line 86, ../sass/style.scss */
.big {
  font-size: 25px;
}

/* line 89, ../sass/style.scss */
.top30vh {
  margin-top: 30vh  !important;
}

/* line 94, ../sass/style.scss */
.sec1 .row {
  transition: .3s linear;
}
/* line 96, ../sass/style.scss */
.sec1 .row .col-10 {
  position: relative;
  padding: 0;
  overflow: hidden;
  transition: .3s linear;
}
/* line 102, ../sass/style.scss */
.sec1 .row .col-10:hover, .sec1 .row .col-10:focus {
  box-shadow: 0 0 20px 0 black;
  filter: grayscale(0%);
  z-index: 9;
  transform: scale(1.025);
  -ms-transform: scale(1.025);
  -o-transform: scale(1.025);
  -moz-transform: scale(1.025);
  -webkit-transform: scale(1.025);
}
/* line 112, ../sass/style.scss */
.sec1 .row .col-10 .first {
  background: url("../images/1.jpg") no-repeat;
}
/* line 116, ../sass/style.scss */
.sec1 .row .col-10 .second {
  background: url("../images/2.jpg") no-repeat;
}
/* line 120, ../sass/style.scss */
.sec1 .row .col-10 .third {
  background: url("../images/3.jpg") no-repeat;
}
/* line 124, ../sass/style.scss */
.sec1 .row .col-10 .fourth {
  background: url("../images/4.jpg") no-repeat;
}
/* line 128, ../sass/style.scss */
.sec1 .row .col-10 .fifth {
  background: url("../images/5.jpg") no-repeat;
}
/* line 132, ../sass/style.scss */
.sec1 .row .col-10 .sixth {
  background: url("../images/6.jpg") no-repeat;
}
/* line 136, ../sass/style.scss */
.sec1 .row .col-10 .seventh {
  background: url("../images/7.jpg") no-repeat;
}
/* line 140, ../sass/style.scss */
.sec1 .row .col-10 .eight {
  background: url("../images/8.jpg") no-repeat;
}
/* line 144, ../sass/style.scss */
.sec1 .row .col-10 .ninth {
  background: url("../images/9.jpg") no-repeat;
}
/* line 148, ../sass/style.scss */
.sec1 .row .col-10 .img-placeholder, .sec1 .row .col-10 .first, .sec1 .row .col-10 .second, .sec1 .row .col-10 .third, .sec1 .row .col-10 .fourth, .sec1 .row .col-10 .fifth, .sec1 .row .col-10 .sixth, .sec1 .row .col-10 .seventh, .sec1 .row .col-10 .eight, .sec1 .row .col-10 .ninth {
  height: 100%;
  background-size: 180%;
  background-position: center center;
  transition: .3s linear;
  transition: background-size .7s linear;
  box-shadow: inset 0 0 0 2px white;
}
/* line 156, ../sass/style.scss */
.sec1 .row .col-10 .img-placeholder:hover, .sec1 .row .col-10 .first:hover, .sec1 .row .col-10 .second:hover, .sec1 .row .col-10 .third:hover, .sec1 .row .col-10 .fourth:hover, .sec1 .row .col-10 .fifth:hover, .sec1 .row .col-10 .sixth:hover, .sec1 .row .col-10 .seventh:hover, .sec1 .row .col-10 .eight:hover, .sec1 .row .col-10 .ninth:hover, .sec1 .row .col-10 .img-placeholder:focus, .sec1 .row .col-10 .first:focus, .sec1 .row .col-10 .second:focus, .sec1 .row .col-10 .third:focus, .sec1 .row .col-10 .fourth:focus, .sec1 .row .col-10 .fifth:focus, .sec1 .row .col-10 .sixth:focus, .sec1 .row .col-10 .seventh:focus, .sec1 .row .col-10 .eight:focus, .sec1 .row .col-10 .ninth:focus {
  background-size: 200%;
  transition: background-size 10s linear;
  box-shadow: 0 0 20px 0 black;
  z-index: 9;
}
/* line 162, ../sass/style.scss */
.sec1 .row .col-10 .img-placeholder:hover .img-heading-caption, .sec1 .row .col-10 .first:hover .img-heading-caption, .sec1 .row .col-10 .second:hover .img-heading-caption, .sec1 .row .col-10 .third:hover .img-heading-caption, .sec1 .row .col-10 .fourth:hover .img-heading-caption, .sec1 .row .col-10 .fifth:hover .img-heading-caption, .sec1 .row .col-10 .sixth:hover .img-heading-caption, .sec1 .row .col-10 .seventh:hover .img-heading-caption, .sec1 .row .col-10 .eight:hover .img-heading-caption, .sec1 .row .col-10 .ninth:hover .img-heading-caption, .sec1 .row .col-10 .img-placeholder:focus .img-heading-caption, .sec1 .row .col-10 .first:focus .img-heading-caption, .sec1 .row .col-10 .second:focus .img-heading-caption, .sec1 .row .col-10 .third:focus .img-heading-caption, .sec1 .row .col-10 .fourth:focus .img-heading-caption, .sec1 .row .col-10 .fifth:focus .img-heading-caption, .sec1 .row .col-10 .sixth:focus .img-heading-caption, .sec1 .row .col-10 .seventh:focus .img-heading-caption, .sec1 .row .col-10 .eight:focus .img-heading-caption, .sec1 .row .col-10 .ninth:focus .img-heading-caption {
  background-color: rgba(0, 0, 0, 0.2);
}
/* line 166, ../sass/style.scss */
.sec1 .row .col-10 .img-placeholder:hover .img-caption, .sec1 .row .col-10 .first:hover .img-caption, .sec1 .row .col-10 .second:hover .img-caption, .sec1 .row .col-10 .third:hover .img-caption, .sec1 .row .col-10 .fourth:hover .img-caption, .sec1 .row .col-10 .fifth:hover .img-caption, .sec1 .row .col-10 .sixth:hover .img-caption, .sec1 .row .col-10 .seventh:hover .img-caption, .sec1 .row .col-10 .eight:hover .img-caption, .sec1 .row .col-10 .ninth:hover .img-caption, .sec1 .row .col-10 .img-placeholder:focus .img-caption, .sec1 .row .col-10 .first:focus .img-caption, .sec1 .row .col-10 .second:focus .img-caption, .sec1 .row .col-10 .third:focus .img-caption, .sec1 .row .col-10 .fourth:focus .img-caption, .sec1 .row .col-10 .fifth:focus .img-caption, .sec1 .row .col-10 .sixth:focus .img-caption, .sec1 .row .col-10 .seventh:focus .img-caption, .sec1 .row .col-10 .eight:focus .img-caption, .sec1 .row .col-10 .ninth:focus .img-caption {
  bottom: 0%;
}
/* line 172, ../sass/style.scss */
.sec1 .row .col-10 .img-placeholder:hover .caption, .sec1 .row .col-10 .first:hover .caption, .sec1 .row .col-10 .second:hover .caption, .sec1 .row .col-10 .third:hover .caption, .sec1 .row .col-10 .fourth:hover .caption, .sec1 .row .col-10 .fifth:hover .caption, .sec1 .row .col-10 .sixth:hover .caption, .sec1 .row .col-10 .seventh:hover .caption, .sec1 .row .col-10 .eight:hover .caption, .sec1 .row .col-10 .ninth:hover .caption, .sec1 .row .col-10 .img-placeholder:focus .caption, .sec1 .row .col-10 .first:focus .caption, .sec1 .row .col-10 .second:focus .caption, .sec1 .row .col-10 .third:focus .caption, .sec1 .row .col-10 .fourth:focus .caption, .sec1 .row .col-10 .fifth:focus .caption, .sec1 .row .col-10 .sixth:focus .caption, .sec1 .row .col-10 .seventh:focus .caption, .sec1 .row .col-10 .eight:focus .caption, .sec1 .row .col-10 .ninth:focus .caption {
  left: 35px;
}
@media screen and (max-width: 576px) {
  /* line 148, ../sass/style.scss */
  .sec1 .row .col-10 .img-placeholder, .sec1 .row .col-10 .first, .sec1 .row .col-10 .second, .sec1 .row .col-10 .third, .sec1 .row .col-10 .fourth, .sec1 .row .col-10 .fifth, .sec1 .row .col-10 .sixth, .sec1 .row .col-10 .seventh, .sec1 .row .col-10 .eight, .sec1 .row .col-10 .ninth {
    background-size: cover;
  }
  /* line 180, ../sass/style.scss */
  .sec1 .row .col-10 .img-placeholder:hover, .sec1 .row .col-10 .first:hover, .sec1 .row .col-10 .second:hover, .sec1 .row .col-10 .third:hover, .sec1 .row .col-10 .fourth:hover, .sec1 .row .col-10 .fifth:hover, .sec1 .row .col-10 .sixth:hover, .sec1 .row .col-10 .seventh:hover, .sec1 .row .col-10 .eight:hover, .sec1 .row .col-10 .ninth:hover {
    background-size: cover;
  }
}
/* line 188, ../sass/style.scss */
.sec1 .row .col-10 .img-caption {
  line-height: 1.5;
  position: absolute;
  bottom: -70%;
  background: #fff;
  padding: 15px 35px;
  transition: .3s linear;
  font-size: 14px;
}
/* line 198, ../sass/style.scss */
.sec1 .row .col-10 .img-heading-caption {
  position: relative;
  height: 100%;
  width: auto;
  background-color: transparent;
  transition: .3s linear;
}
/* line 205, ../sass/style.scss */
.sec1 .row .col-10 .img-heading-caption .caption {
  position: absolute;
  top: 40%;
  left: -100%;
  transform: translateY(-40%);
  transition: .3s linear;
}
/* line 212, ../sass/style.scss */
.sec1 .row .col-10 .img-heading-caption .caption h3 {
  font-size: 24px;
  color: white;
}
@media screen and (hover: none) and (max-width: 768px) {
  /* line 96, ../sass/style.scss */
  .sec1 .row .col-10 {
    min-height: 60vh;
    margin-top: 5vh;
    border: 1px solid lightgray;
    border-radius: 3px;
  }
  /* line 227, ../sass/style.scss */
  .sec1 .row .col-10 .img-placeholder, .sec1 .row .col-10 .first, .sec1 .row .col-10 .second, .sec1 .row .col-10 .third, .sec1 .row .col-10 .fourth, .sec1 .row .col-10 .fifth, .sec1 .row .col-10 .sixth, .sec1 .row .col-10 .seventh, .sec1 .row .col-10 .eight, .sec1 .row .col-10 .ninth {
    box-shadow: none;
  }
  /* line 231, ../sass/style.scss */
  .sec1 .row .col-10 .img-placeholder, .sec1 .row .col-10 .first, .sec1 .row .col-10 .second, .sec1 .row .col-10 .third, .sec1 .row .col-10 .fourth, .sec1 .row .col-10 .fifth, .sec1 .row .col-10 .sixth, .sec1 .row .col-10 .seventh, .sec1 .row .col-10 .eight, .sec1 .row .col-10 .ninth {
    background-size: cover;
  }
  /* line 234, ../sass/style.scss */
  .sec1 .row .col-10 .img-placeholder:hover, .sec1 .row .col-10 .first:hover, .sec1 .row .col-10 .second:hover, .sec1 .row .col-10 .third:hover, .sec1 .row .col-10 .fourth:hover, .sec1 .row .col-10 .fifth:hover, .sec1 .row .col-10 .sixth:hover, .sec1 .row .col-10 .seventh:hover, .sec1 .row .col-10 .eight:hover, .sec1 .row .col-10 .ninth:hover, .sec1 .row .col-10 .img-placeholder:focus, .sec1 .row .col-10 .first:focus, .sec1 .row .col-10 .second:focus, .sec1 .row .col-10 .third:focus, .sec1 .row .col-10 .fourth:focus, .sec1 .row .col-10 .fifth:focus, .sec1 .row .col-10 .sixth:focus, .sec1 .row .col-10 .seventh:focus, .sec1 .row .col-10 .eight:focus, .sec1 .row .col-10 .ninth:focus {
    background-size: cover;
  }
  /* line 239, ../sass/style.scss */
  .sec1 .row .col-10:hover, .sec1 .row .col-10:focus {
    transform: scale(1);
    -ms-transform: scale(1);
    -o-transform: scale(1);
    -moz-transform: scale(1);
    -webkit-transform: scale(1);
  }
  /* line 249, ../sass/style.scss */
  .sec1 .row .col-10 .caption {
    left: 35px !important;
  }
  /* line 253, ../sass/style.scss */
  .sec1 .row .col-10 .img-caption {
    line-height: 1.5;
    position: absolute;
    bottom: 0%;
    background: #fff;
    padding: 10px 15px;
    transition: .3s linear;
    font-size: 14px;
  }
}
@media screen and (max-width: 768px) {
  /* line 96, ../sass/style.scss */
  .sec1 .row .col-10 {
    min-height: 60vh;
    margin-top: 5vh;
    border: 1px solid lightgray;
    border-radius: 3px;
  }
  /* line 269, ../sass/style.scss */
  .sec1 .row .col-10 .img-placeholder, .sec1 .row .col-10 .first, .sec1 .row .col-10 .second, .sec1 .row .col-10 .third, .sec1 .row .col-10 .fourth, .sec1 .row .col-10 .fifth, .sec1 .row .col-10 .sixth, .sec1 .row .col-10 .seventh, .sec1 .row .col-10 .eight, .sec1 .row .col-10 .ninth {
    box-shadow: none;
  }
  /* line 273, ../sass/style.scss */
  .sec1 .row .col-10 .img-placeholder, .sec1 .row .col-10 .first, .sec1 .row .col-10 .second, .sec1 .row .col-10 .third, .sec1 .row .col-10 .fourth, .sec1 .row .col-10 .fifth, .sec1 .row .col-10 .sixth, .sec1 .row .col-10 .seventh, .sec1 .row .col-10 .eight, .sec1 .row .col-10 .ninth {
    background-size: cover;
  }
  /* line 276, ../sass/style.scss */
  .sec1 .row .col-10 .img-placeholder:hover, .sec1 .row .col-10 .first:hover, .sec1 .row .col-10 .second:hover, .sec1 .row .col-10 .third:hover, .sec1 .row .col-10 .fourth:hover, .sec1 .row .col-10 .fifth:hover, .sec1 .row .col-10 .sixth:hover, .sec1 .row .col-10 .seventh:hover, .sec1 .row .col-10 .eight:hover, .sec1 .row .col-10 .ninth:hover, .sec1 .row .col-10 .img-placeholder:focus, .sec1 .row .col-10 .first:focus, .sec1 .row .col-10 .second:focus, .sec1 .row .col-10 .third:focus, .sec1 .row .col-10 .fourth:focus, .sec1 .row .col-10 .fifth:focus, .sec1 .row .col-10 .sixth:focus, .sec1 .row .col-10 .seventh:focus, .sec1 .row .col-10 .eight:focus, .sec1 .row .col-10 .ninth:focus {
    background-size: cover;
  }
  /* line 281, ../sass/style.scss */
  .sec1 .row .col-10:hover {
    transform: scale(1);
    -ms-transform: scale(1);
    -o-transform: scale(1);
    -moz-transform: scale(1);
    -webkit-transform: scale(1);
  }
  /* line 291, ../sass/style.scss */
  .sec1 .row .col-10 .caption {
    left: 35px !important;
  }
  /* line 295, ../sass/style.scss */
  .sec1 .row .col-10 .img-caption {
    line-height: 1.5;
    position: absolute;
    bottom: 0%;
    background: #fff;
    padding: 10px 15px;
    transition: .3s linear;
    font-size: 14px;
  }
}
@media screen and (hover: none) and (max-width: 576px) {
  /* line 96, ../sass/style.scss */
  .sec1 .row .col-10 {
    min-height: 80vh;
  }
  /* line 309, ../sass/style.scss */
  .sec1 .row .col-10 .img-placeholder, .sec1 .row .col-10 .first, .sec1 .row .col-10 .second, .sec1 .row .col-10 .third, .sec1 .row .col-10 .fourth, .sec1 .row .col-10 .fifth, .sec1 .row .col-10 .sixth, .sec1 .row .col-10 .seventh, .sec1 .row .col-10 .eight, .sec1 .row .col-10 .ninth {
    background-size: cover;
  }
  /* line 312, ../sass/style.scss */
  .sec1 .row .col-10 .img-placeholder:hover, .sec1 .row .col-10 .first:hover, .sec1 .row .col-10 .second:hover, .sec1 .row .col-10 .third:hover, .sec1 .row .col-10 .fourth:hover, .sec1 .row .col-10 .fifth:hover, .sec1 .row .col-10 .sixth:hover, .sec1 .row .col-10 .seventh:hover, .sec1 .row .col-10 .eight:hover, .sec1 .row .col-10 .ninth:hover, .sec1 .row .col-10 .img-placeholder:focus, .sec1 .row .col-10 .first:focus, .sec1 .row .col-10 .second:focus, .sec1 .row .col-10 .third:focus, .sec1 .row .col-10 .fourth:focus, .sec1 .row .col-10 .fifth:focus, .sec1 .row .col-10 .sixth:focus, .sec1 .row .col-10 .seventh:focus, .sec1 .row .col-10 .eight:focus, .sec1 .row .col-10 .ninth:focus {
    background-size: cover;
  }
  /* line 317, ../sass/style.scss */
  .sec1 .row .col-10:hover, .sec1 .row .col-10:focus {
    transform: scale(1);
    -ms-transform: scale(1);
    -o-transform: scale(1);
    -moz-transform: scale(1);
    -webkit-transform: scale(1);
  }
  /* line 327, ../sass/style.scss */
  .sec1 .row .col-10 .caption {
    left: 35px !important;
  }
  /* line 331, ../sass/style.scss */
  .sec1 .row .col-10 .img-caption {
    line-height: 1.5;
    position: absolute;
    bottom: 0%;
    background: #fff;
    padding: 10px 15px;
    transition: .3s linear;
    font-size: 14px;
  }
}
@media screen and (max-width: 576px) {
  /* line 96, ../sass/style.scss */
  .sec1 .row .col-10 {
    min-height: 80vh;
  }
  /* line 344, ../sass/style.scss */
  .sec1 .row .col-10 .img-placeholder, .sec1 .row .col-10 .first, .sec1 .row .col-10 .second, .sec1 .row .col-10 .third, .sec1 .row .col-10 .fourth, .sec1 .row .col-10 .fifth, .sec1 .row .col-10 .sixth, .sec1 .row .col-10 .seventh, .sec1 .row .col-10 .eight, .sec1 .row .col-10 .ninth {
    background-size: cover;
  }
  /* line 347, ../sass/style.scss */
  .sec1 .row .col-10 .img-placeholder:hover, .sec1 .row .col-10 .first:hover, .sec1 .row .col-10 .second:hover, .sec1 .row .col-10 .third:hover, .sec1 .row .col-10 .fourth:hover, .sec1 .row .col-10 .fifth:hover, .sec1 .row .col-10 .sixth:hover, .sec1 .row .col-10 .seventh:hover, .sec1 .row .col-10 .eight:hover, .sec1 .row .col-10 .ninth:hover, .sec1 .row .col-10 .img-placeholder:focus, .sec1 .row .col-10 .first:focus, .sec1 .row .col-10 .second:focus, .sec1 .row .col-10 .third:focus, .sec1 .row .col-10 .fourth:focus, .sec1 .row .col-10 .fifth:focus, .sec1 .row .col-10 .sixth:focus, .sec1 .row .col-10 .seventh:focus, .sec1 .row .col-10 .eight:focus, .sec1 .row .col-10 .ninth:focus {
    background-size: cover;
  }
  /* line 352, ../sass/style.scss */
  .sec1 .row .col-10:hover, .sec1 .row .col-10:focus {
    transform: scale(1);
    -ms-transform: scale(1);
    -o-transform: scale(1);
    -moz-transform: scale(1);
    -webkit-transform: scale(1);
  }
  /* line 362, ../sass/style.scss */
  .sec1 .row .col-10 .caption {
    left: 35px !important;
  }
  /* line 366, ../sass/style.scss */
  .sec1 .row .col-10 .img-caption {
    line-height: 1.5;
    position: absolute;
    bottom: 0%;
    background: #fff;
    padding: 10px 15px;
    transition: .3s linear;
    font-size: 14px;
  }
}

/* line 379, ../sass/style.scss */
.to-top {
  z-index: 99;
  position: fixed !important;
  /* фиксированная позиция */
  right: 80px;
  /* расстояние от правого края */
  bottom: 60px;
  /* расстояние от нижнего края */
  text-align: center;
  /*выравнивание содержимого элемента по центру */
  animation-fill-mode: both;
}
/* line 391, ../sass/style.scss */
.to-top .btn {
  font-size: 30px;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: #fff;
  border: 1px solid lightgray;
  box-shadow: 0px 4px 5px gray;
  padding: 0;
  color: #999999;
  /* цвет текста */
}
/* line 407, ../sass/style.scss */
.to-top .btn:hover {
  box-shadow: 0px 2px 5px gray;
  color: #7e7e7e;
}
@media screen and (max-width: 576px) {
  /* line 379, ../sass/style.scss */
  .to-top {
    right: 30px;
    /* расстояние от правого края */
    bottom: 20px;
  }
  /* line 417, ../sass/style.scss */
  .to-top .btn {
    font-size: 24px;
    width: 40px;
    height: 40px;
  }
}
